body {
    margin: 0px;
}

.my-element::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar but allows scrolling */
}

.Header {
    justify-content: space-around;
    align-items: top;
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: rgb(239, 237, 237);
    box-shadow: 10px 10px;
}

.main {
    display: flex;
    width: 100%;
    height: 90vh;
    background-color: rgb(255, 255, 255);
}

.link {
    font-size: larger;
    margin-top: 1px;
    width: 24.5%;
    height: 14vh;
    background-color: rgb(0, 0, 0);
}
